

{% if section.settings['show-announcement'] %}
  {% if template.name == 'index' or section.settings.show-on-homepage == false %}
    <section>
      <div class="announcement-bar">
        <div class="announcement-middle-section">
          <a href="{{ section.settings.link }}">
            <p>     
              {{ section.settings.announcement_bar_text }}
            </p>          
          </a>
        </div>
      </div>     
    </section>
  {% endif %}
{% endif %}

<style>
  .announcement-bar{
    background:{{section.settings.background-color}};
  }

  .announcement-bar p{
    color:{{section.settings.text-color}};
    font-size:{{section.settings.font-size}}px;
    padding: 5px 0 ;
       
  }
</style>

{% schema %}
  {
    "name": "Announcement Bar",
    "settings": [
      {
        "type":"checkbox",
        "id": "show-announcement",
        "label":"Show Announcement-Bar",
        "default": false
      },
      {
        "type": "checkbox",
        "id":"show-on-homepage",
        "label":"Only show on homepage"
      },
      {
        "type":"url",
        "id":"link",
        "label":"Put your link here."
      },
      {
        "type":"text",
        "id":"announcement_bar_text",
        "label":"Announcement Text",
        "default": "vel turpis nunc eget lorem dolor sed viverra"
      },
      {
        "type":"color",
        "id": "text-color",
        "label": "Text Color",
        "default":"#EEEEEE"
      },
      {
        "type":"color_background",
        "id":"background-color",
        "label":"Background Color",
        "default":"#151515"
        
      },
      {
        "type": "range",
        "id":"font-size",
        "min":8,
        "max":20,
        "step":1,
        "default":10,
        "label":"Font-Size",
        "unit":"px"
      }     
    ],
    "presets": [
      {
        "name":"Announcement-bar",
        "category":"Announcement-bar"
      }
    ]
 }
{%endschema%}