<div class=" front-image-banner">  
  <div class="image-container">
    <img src="{{ section.settings.show_image| img_url:'1024x1024' }}" >
    <div class= "text-overlay">
      <h2>{{ section.blocks[0].settings.image_text }}</h2>
      <p>{{ section.blocks[0].settings.image_text_p }}</p>
    </div>    
  </div>
</div>

<style>
  .front-image-banner .image-container .text-overlay h2{
    color:{{section.blocks[0].settings.text_color}};
  }
  .front-image-banner .image-container .text-overlay p{
    color:{{section.blocks[0].settings.ptext_color}};
  }
  
</style>

{% schema %}
  {
    "name": "Front Image Banner",
    "settings": [
      {
        "type":"image_picker",
        "id": "show_image",
        "label": "Pick your image"
      }
    ],
    "blocks":[
       {
        "type": "text",
         "name":"Image Text Block",
        "settings":[
          {
            "type":"text",
            "id" : "image_text",
            "label": "Your text ",
            "default": "Paws and Whiskers"
         },
          {
            "type": "text",
            "id": "image_text_p", 
            "label":"Your second text",
            "default": "Get all your pet essentials here!"
          },
          {
            "type": "color",
            "id": "text_color",
            "label": "Text Color",
            "default": "#eee"
            
          },
          {
            "type": "color",
            "id": "ptext_color",
            "label": "Text Color",
            "default": "#eee"
            
          }
        ]
      }
    ],
     "presets": [
    {
      "name": "Image Banner",
      "category": "Image Banner"
    }
   ]
  }
{% endschema %}