<section class="three-columns-pictures">
  <h2>{{section.settings.Heading}}</h2>
  <div class="wrapper">    
    {% for block in section.blocks%}
      <div class="three-columns">
        <img src="{{block.settings.Image | img_url:'500X500'}}" alt="">
        <div class="text-title">{{block.settings.TextTitle}}</div>
        <div class="text-description">{{block.settings.TextDescription}}</div>
      </div>
    {% endfor %} 
  </div> 
  <div class="columns-button">
    <a href="{{section.settings.Button}}">{{section.settings.ButtonText}}</a>
  </div>
</section>

{% schema %}
{
  "name": "three columns pictures",
  "settings": [
    {
      "type":"text",
      "id":"Heading",
      "label":"Heading",
      "default": "convals puere morbi"
    },
    {
        "type":"url",
        "id":"Button",
        "label":"Link here"
      },
      {
        "type":"text",
        "id":"ButtonText",
        "label":"Text",
        "default":"sagittis nisl"
      }   
    ],
    "presets":[
      {
        "name":"Three Columns Pictures",
        "category":"Three Columns Pictures"
      }
    ],
    "blocks":[
      {
        "name":"image_text",
        "type":"images",
        "settings": [
          {
            "type":"image_picker",
            "id":"Image",
            "label":"Pick your image"
          },
          {
            "type":"text",
            "id":"TextTitle",
            "label":"Text Title",
            "default": "bibendum at"
          },
          {
            "type":"text",
            "id":"TextDescription",
            "label":"Text Title",
            "default": "varius quam quisque id diam velss ss quam element pulvinar etiam"
          }   
        ]
      }
    ]
}
{% endschema %}